body{
    background-color: orange;
    text-align: center;
    margin: 0 auto; max-width: 50%;
}
h1{
    color: red;
    background-color: rgb(141, 108, 46);
    border-radius: 10px;
    opacity: 0.5;
}
p{
    text-align: center;
    color: brown;
}